<h1>Here are all the tasks</h1>
<ul>
  <%@tasks.each do |task| %>
      <li><%if task.completed?%>
      ✔
      <%else%>
      ⬜
      <%end%>
      <%= link_to task.title, task_path(task) %>
      <%end%>
</ul>