// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$background: #F9F1F1;
$text: #07004D;
$buttons: #42E2B8;
$button_hover:  #75ffda;
$text_hover: #110590;

body{
  background-color: $background;
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
  a{
    text-decoration: none;
    color: $text;
  }
  .button a{
    background-color: $buttons;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    border: solid 1px $text;
  }

  .button a:hover{
    background-color: $button_hover;
    color: $text_hover;
  }
}

